body {
  font-family: Verdana;
  background-color: lightgray;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 2em;
}

form div {
  margin: 3.5em;
  display: inline-block;
}

#nav-bar {
  display: flex;
  flex-wrap: wrap;
    position: fixed;
    height: 60px;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color:rgb(55, 55, 56);
    z-index: 10;
    border-bottom: 5px solid black;
}

.nav-text {
  color: lightcyan;
}

.nav-text::after {
  content: "";
  width: 0%;
  height: 2px;
  background: lightcyan;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-text:hover::after {
  width: 100%;
}

.site-title {
  position: relative;
  color: lightcyan;
  background-color: black;
  left: 37%;
  top: -60px;
  font-size: 40px;
  padding: 20px;
  font-family: "Verdana";
  font-weight: 200;
  text-decoration: none;
  border: 5px solid lightcyan;
}

.projects-list {
  position: absolute;
  top: 70px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#auth-form {
  position: absolute;
  top: 200px;
  width: 100%;
  color: lightcyan;
  font-size: 25px;
}

.auth-button {
  background-color: lightcyan;
  height: 35px;
}

.auth-button:hover {
  background-color: #2E2E3A;
  transition: 0.5s;
}

nav {
  position: absolute;
  right: 0px;
}


.single-project {
  flex: 0 0 30%;
  padding: 20px;
  background-color: transparent;
  mix-blend-mode: multiply;
  text-align: center;
}

.project-name {
  color: #f34213;
}

.project-name::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f34213;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.project-name:hover::after {
  width: 50%;
}

#all-project {
  position: absolute;
  top: 75px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.single-project-view {
  position: relative;
  top: 200px;
  text-align: center;
  mix-blend-mode: multiply;
}

.single-name {
  color: #f34213;
}

.welcome {
  position: absolute;
  top: 50px;
  text-align: left;
}

form {
  display: flex;
  flex-wrap: wrap;
}

label{
  margin: 8px;
}

#container{
  position: relative;
  padding: 60px;
  bottom: 50px;
}

#container h2{
  text-align: left;
}

